body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}
.max-content {
    max-width: 1280px;
    margin: 0 auto;
}

.slick-slider {
  display: flex !important;
  align-items: center !important;
  margin-right: -10px;
  margin-left: -10px;
}

.category::before {
  display: inline-block;
  content: "";
  margin-bottom: 2.5px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 5px;
  width: 5px;
  margin-right: 10px;
  margin-left: 9px;
  background-color: #252525;
}

.truncate {
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal!important;
}

.nav-link a.active::before {
  display: inline-block;
  content: "";
  margin-bottom: 2.5px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 5px;
  width: 5px;
  margin-right: 10px;
  background-color: #67f8ef;
}

.more-post .date::before {
  display: inline-block;
  content: "";
  margin-bottom: 2.6px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 3px;
  width: 3px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #9ca3af;
}

li.nav-link:first-child a {
  margin-left: 9px;
}

.lang-group:hover {
  display: block;
}

nav#navbar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.headline {
  height: 100%;
  display: flex;
  padding-left: 250px;
  padding-right: 250px;
  overflow: hidden;
}
.headline-item {
  max-height: 471px;
  position: relative;
  overflow: hidden;
}
.headline-item.active {
  display: flex!important;
  right: -150%;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: .1s;
  animation: slide 0.5s forwards;
  animation-delay: .1s;
}

button {
  outline: none;
}
.btn-primary {
  background-color: #67f8ef !important;
  color: #061a64;
  font-size: 14px;
  font-weight: 600;
  height: 45px;
  display: flex;
  align-items: center;
  place-content: center;
  width: fit-content;
  border: none;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
.btn-primary:hover {
  background-color: #fff !important;
  color: #05103A;
}
.btn-secondary {
  background: transparent;
  color: #67f8ef;
  font-size: 14px;
  font-weight: 600;
  height: 45px;
  display: flex;
  align-items: center;
  place-content: center;
  padding: 0 1.5rem;
  width: fit-content;
  border: 1px solid #67f8ef;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
.btn-secondary:hover {
  background-color: #67f8ef;
  color: #061a64;
}
.btn-chat {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-separator {
  border-bottom: 1px solid #67f8ef;
  max-width: 50px;
  margin-top: 10px;
  margin-bottom: 18px;
}

.progress-bar {
  background: #67f8ef;
  height: 5px;
}
.custom-dots .progress-bar {
  position: relative;
  top: -5px;
  background: #67f8ef;
  height: 5px;
  width: 60%;
  display: none;
}

.active {
  display: block !important;
}

.sub-contact {
  padding-top: 0.5rem; /* 8px */
  padding-bottom: 0.5rem; /* 8px */
  margin-top: 1.5rem; /* 24px */
  margin-bottom: 1.5rem; /* 24px */
  position: relative;
  right: 96px;
  background-color: rgb(255, 255, 255, 0.7);
  border-radius: 8px;
  width: 8rem;
  display: block;
}

.sub-menu-contact {
  background-color: wheat;
  position: relative;
  top: 60px;
  right: 150px;
  width: 125px;
}

.menu-contact {
  display: flex;
  padding-left: 2.5rem; /* 40px */
  padding-right: 2.5rem; /* 40px */
}

.logo-contact {
  display: block;
}

.logo-contact:hover .sub-contact {
  display: block;
}

.img-wrapper {
  background-color: #445184;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.img-wrapper-services {
  width: 276px;
  height: 299px;
  border-radius: 187.5px 0px 0px 0px;
}

.img-contact-footer {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-inactive {
  color: #797979;
}

.icon-social-media {
  width: 32px;
  height: 32px;
}
.background-img-about {
  background-image: url("../public/img/about.png");
  background-repeat: no-repeat;
  background-position: 600px top;
}

#feed .card-body {
  word-wrap: break-word;
  min-height: 48px;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

#feed-mobile {
  display: none;
}

.tooltip {
  transition: ease-in .3s;
  display: inline-block;
  position: absolute;
  z-index: 10;
  padding-top: .4rem;
  padding-bottom: .4rem; 
  padding-left: .75rem;
  padding-right: .75rem; 
  font-weight: 500; 
  color: #fff; 
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  opacity: 1;
  border-top-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
}
.tooltip-arrow::before {
  content: "";
  transform: rotate(45deg);
  position: absolute;
  display: block;
  background: inherit;
  height: 8px;
  width: 8px;
}
.service-title {
  max-width: 672px;
}
.card-header img:not(.rounded-full) {
  height: 281px;
  width: 100%;
}
.services-card {
  padding-left: 5px;
  padding-right: 5px;
  display: flex!important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mobile-content {
  display: none!important;
}
.chat-wrapper {
  right: 30px;
}
.chat-wrapper img {
  width: 32px;
  height: 32px;
}
.slick-thumb {
  display: flex!important;
  justify-content: center;
}
.slick-dots {
  position: relative!important;
  margin: 20px 0 0!important;
  bottom: 0!important;
}
.slick-dots li {
  display: grid!important;
  align-items: center;
}
.slick-active a div {
  background-color: #67F8EF!important;
}
.slick-slide {
  overflow: hidden;
}
.hero-image {
  border-top-left-radius: 49px;
  height: 176px;
  display: flex;
  overflow: hidden;
}
.hero-image img {
  margin: auto;
  position: relative;
  right: -20px;
}
.hero {
  display: flex!important;
  align-items: center;
}
#backdrop {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 20;
  top: 0;
  right: 0;
  opacity: 0;
  transform: translateX(120%);
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
#backdrop.open {
  transform: translateX(0);
  opacity: 1;
}
#drawer {
  display: flex;
  flex-direction: column;
  opacity: 0;
  width: 80%;
  height: 100%;
  background-color: #fff;
  padding: 30px 20px;
  z-index: 30;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-120%);
  box-shadow: 1px 0px 7px rgba(0,0,0,0.5); 
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
#drawer.open {
  transform: translateX(0);
  opacity: 1;
}
/* body {
  overflow-y: hidden;
} */
/* #drawer.block {
  transition: all 0.3s ease-out;
} */
#drawer .nav-link a, #drawer .nav-link a.active {
  display: flex!important;
  align-items: center;
  justify-items: center;
  font-weight: 700;
  font-size: 14px;
}
#drawer .nav-link:first-child {
  padding-top: 30px;
}
#drawer .nav-link:first-child a {
  margin-left: 0!important;
}
#drawer .nav-link .px-4 {
  padding-left: 0;
  padding-right: 0;
}
#drawer .nav-link {
  padding-top: 5px;
  padding-bottom: 5px;
}
#drawer .nav-link a.active::before {
  display: block;
  content: "";
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 5px;
  width: 5px;
  margin-right: 5px;
  margin-left: -10px;
  background-color: #67f8ef;
  margin-top: 2.5px;
}
.about-headline {
  min-height: 690px;
}
#contact .subtitle {
  font-size: 64px;
  line-height: 80px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  nav#navbar {
    border-bottom: none!important;
  }
  h1 {
    font-size: 14px!important;
  }
  h2 {
    font-size: 12px!important;
    font-weight: 700!important;
    line-height: 16px;
  }
  #navbar {
    position:fixed;
    width: 100%;
    z-index: 11;
  }
  #navbar div a:first-child img {
    width: 35px;
    height: 35px;
  }
  #navbar .menu-button {
    display: block!important;
  }
  .chat-wrapper {
    right: 10px;
  }
  .chat-wrapper img {
    width: 24px;
    height: 24px;
  }
  .btn-chat {
    width: 50px;
    height: 50px;
  }
  .container:not(:first-child){
    margin-top: 30px!important;
  }
  .card-header {
    margin-bottom: 10px!important;
  }
  .card-header img {
    height: 180px;
  }
  /* .mobile-content .card .services-card h1 {
    padding-right: 0;
    padding-left: 0;
    font-size: 11px!important;
  } */
  .mobile-content .card h1 {
    font-size: 12px!important;
  }
  .card {
    padding-left: 5px!important;
    padding-right: 5px!important;
  }
  .card-body .text-sm {
    font-size: 12px!important;
  }
  .card-body div:first-child {
    margin-bottom: 8px!important;
  }
  .card-body div:last-child {
    margin-bottom: 0!important;
  }
  .card-body a {
    font-size: 14px;
    line-height: 14px;
  }
  .leading-11 {
    font-size: 17px!important;
    line-height: 24px!important;
  }
  .service-title {
    padding-right: 0;
    max-width: 65%;
  }
  .img-wrapper-services {
    max-width: 120px!important;
    width: auto!important;
    height: 150px;
    border-radius: 45px 0px 0px 0px!important;
  }
  .img-wrapper-services img {
    display: block;
    position: relative;
    right: 12%;
    height: 140px;
    top: 4px;
  }
  .px-25 {
    padding-left: 25px!important;
    padding-right: 25px!important;
  }
  .headline, .headline-dots {
    display: none!important;
  }
  .sosmed {
    margin-bottom: 20px!important;
  }
  .sosmed ul, .sosmed-dropdown {
    display: none!important;
  }
  #feed {
    display: none;
  }
  #feed-mobile {
    display: block;
  }
  #navbar ul, .navbar-contact {
    display: none!important;
  }
  .img-wrapper-services img.relative {
    display: none;
  }
  #services {
    padding-right: 0!important;
  }
  .services {
    display: none!important;
  }
  .footer-sosmed {
    margin-top: 20px!important;
    margin-bottom: 20px!important;
  }
  .footer-sosmed div {
    display: none!important;
  }
  .footer .logo-wrapper {
    max-width: 100%!important;
  }
  .footer {
    display: block!important;
    margin-top: 0!important;
    margin-bottom: 0!important;
  }
  .footer .ml-auto {
    margin-top: 20px;
  }
  .footer h1 {
    margin-top: 20px;
  }
  .footer-contact {
    display: flex;
  }
  .footer-contact .py-3 {
    padding-top: 10px!important;
    padding-bottom: 0px!important;
  }
  .footer-contact div:first-child {
    margin-right: auto;
  }
  .footer-logo {
    width: 35px;
    height: 35px;
  }
  .img-contact-footer {
    width: auto!important;
    height: auto!important;
  }
  .mobile-content {
    display: block!important;
  }
  .btn-primary {
    font-size: 12px;
    height: 30px;
  }
  .btn-secondary {
    font-size: 11px;
    height: 30px;
    padding: 0 .5rem;
  }
  .background-img-about {
    background-position-y: 200px;
    background-position-x: 110px;
    background-size: 400px;
  }
  .about {
    width: 100%!important;
    margin-top: 130px;
    margin-bottom: 40px!important;
  }
  .about:not(:first-child) {
    display: none;
  }
  #about p.text-xl {
    font-size: 16px!important;
    line-height: 16.44px!important;
  }
  .about-headline  {
    min-height: auto;
    background-color: rgb(5, 16, 58, .7);
  }
  #about .text-3xl {
    font-size: 16px!important;
    line-height: 24px!important;
  }
  #about .subtitle {
    font-size: 12px!important;
    line-height: 20px!important;
    width: 79%;
    font-weight: 500!important;
  }
  #services.mb-7\.5 {
    margin-bottom: 0!important;
  }
  #mission {
    padding-top: 20px!important;
    flex-direction: column;
  }
  #mission h1:first-child {
    margin-bottom: 20px!important;
  }
  #mission .w-1\/2 {
    width: 100%!important;
  }
  #mission div.text-lg {
    font-size: 14px!important;
    line-height: 28px!important;
    margin-bottom: 30px;
  }
  #mission img {
    height: auto!important;
  }
  #contact .subtitle {
    margin-top: 20px;
    font-size: 24px!important;
    line-height: 26px!important;
  }
  #contact .px-10 {
    padding-left: 0!important;
    padding-right: 0!important;
  }
  #contact .title {
    margin-top: 2px!important;
    font-weight: 600!important;
  }
  #contact .w-\[50px\] {
    margin-left: 20px!important;
    width: 30px!important;
    height: 30px!important;
  }
  #contact .w-\[50px\] img {
    height: 14px!important;
  }
  #contact {
    padding-bottom: 30px;
  }
  #blog .min-h-\[417px\]:not(:last-child) {
    min-height: auto!important;
    margin-bottom: 1.5rem!important;
  }
  #blog .min-h-\[417px\]:last-child{
    min-height: auto!important;
    margin-bottom: 0!important;
  }
  #blog .text-base {
    font-size: 14px!important;
    line-height: 20px!important;
  }
  #spinner svg {
    margin-left: 10px;
  } 
  #pagination {
    margin-top: 0!important;
  }
  #pagination button {
    width: 40px!important;
    height: 40px!important;
  }
  #header-post {
    display: none;
  }
  #post {
    margin-left: 0!important;
  }
  .more-post .date span {
    font-size: 12px!important;
  }
  .post-wrapper {
    padding: 0!important;
    width: 100%!important;
  }
  #post h1.text-3\.5xl {
    font-size: 24px!important;
    text-align: left!important;
    line-height: 32px!important;
  }
  #tags {
    margin-top: 16px;
    font-size: 8px!important;
    font-weight: 700!important;
  }
  #tag-title {
    font-size: 16px!important;
    -webkit-line-clamp: 1;
  }
  #tag-desc {
    margin-bottom: 0!important;
    font-size: 12px!important;
  }
  #tag-img {
    padding-left: 6px;
  }
}

@keyframes slide {
  100% {
    right: 0;
  }
}
